{% extends "layout.html" %}

{% block body %}

<!--- Welcome box -->
<div class="welcom_box">
	<div class="welcome_box_content">
	<p id="welcom_title">  PART 1: FRONT-END
	</div>
</div>
</div>


<!--- Introduction  -->
<div class="proj_intro">
			<p id="intro_title">Introduction</p> 
			<p>First part focuses on Front-End web development. It contains source code developed to buit this web application (content, styling, interacting)	.  
			<p>Following, HTML, CSS and JavaScript codes of the home page are presented.  </p>
			<p> 
				<ul><li> HTML code</li></ul>
				<object data="/static/codes/home_html.txt"></object>
				<ul><li> CSS code</li></ul>
				<object data="/static/codes/home_css.txt"></object>
				<ul><li> JavaScript code</li></ul>
				<object id="code_js_box" data="/static/codes/home_js.txt" > </object>
			</p>
</div>		

{% endblock %}