{% extends "layout.html" %}

{% block body %}

<!--- Welcome box -->
<div class="welcom_box">
	<p id="welcom_title">  PART 3: DEPOYMENT
</div>


<!--- Introduction  -->
<div class="proj_intro">
	<p id="intro_title">Introduction</p> 
	<p>The third part focuses on deploying the web application that has been presented in part 1 and part 2 using Amazon Web Services (AWS). 
		<br>AWS is the world’s most comprehensive and broadly adopted cloud platform. It has plenty of services, functionalities and advantages that make 
		it perfect for this kind of work.
	</p>
	<p>The following picture represents the AWS Network Diagram that describe deployment stages.</p>
</div>		

<img class="p3img" src="/static/img/aws_network_diagram.png" alt="AWS Network Diagram">

{% endblock %}