{% extends "layout.html" %}

{% block body %}

<!--- Welcome box -->
<div class="welcom_box">
	<p id="welcom_title">  PROJECT 3
</div>


<!--- Introduction  -->
<div class="proj_intro">
			<p id="intro_title">Introduction</p> 
			<p>The third project focuses on deploying the web application that has been developed in project 1 and project 2 using Amazon Web Services (AWS). 
			<br>AWS is the world’s most comprehensive and broadly adopted cloud platform. It has plenty of services, functionalities and advantages that make 
			it perfect for this kind of work.</p>
			<p>The following pictures are screenshots taken during the deployment of the web application on using AWS different services 
				(Elastic Beanstalk, Relational Database Service…).  </p>
			<p> 
				<img src="/static/img/aws_sc_test.PNG" alt="screenshot 1">
			</p>
</div>		

{% endblock %}