<div class="search_bar">
	<!-- <h3>Researched book table</h3> -->
	<form false>
		<input id="research_text" name="research_text" type="text" placeholder="Enter the book's name ...">
		<input id="search_submit_button"  onclick="show_book_search_table()" type="submit" value="Search">
	</form>
</div>

<table id="book_search_table">
	<tr>
		<th>Cover</th>
		<th>Title</th>
		<th>Subtitle</th>
		<th>Authors</th>
		<th>Publish Date</th>
		<th>Price (€)</th>
		<th>Action</th>			  
	</tr>
	
	{% for row in students %}
	<tr>
		<td><img src="{{row.0}}" alt="Book Cover"></td>
		<td>{{row.1}}</td>
		<td>{{row.2}}</td>
		<td>{{row.3}}</td>
		<td>{{row.4}}</td>
		<td>{{row.5}}</td>
		<td><input id="add_button" type="submit" value="ADD"></td>
	</tr>
	{% endfor  %}

</table>